@font-face {
    font-family: 'Minecraft';
    src: url('../fontes/Minecrafter.Alt.ttf') format('truetype');
}


body {
    background-color: #1d1d1d;
    color: #fff;
    font-family: 'minecraft', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'minecraft', sans-serif;
}

.logo {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.form-container {
    flex: 1;
    max-width: 400px;
}

h2 {
    color: #a944ff;
    margin-bottom: 20px;
    text-align: center;
}

select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    font-family: 'minecraft', sans-serif;
}

textarea {
    height: 100px;
    resize: none;
}

button {
    background-color: #a944ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-family: 'minecraft', sans-serif;
}

button:hover {
    background-color: #198754;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.option {
    padding: 10px 20px;
    background-color: #333; /* Cor de fundo inicial */
    color: white;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave */
}

/* Mudar cor ao passar o mouse */
.option:hover {
    background-color: #a944ff; /* Cor de fundo ao passar o mouse */
    color: #fff; /* Cor do texto ao passar o mouse */
}

.dropping-texts {
    display: inline-block;
    width: 180px;
    text-align: left;
    height: 36px;
    vertical-align: -2px;
  }
  
  .dropping-texts > div {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    position:absolute;
    font-weight:300;   
    box-shadow: 0px 60px 25px -20px rgba(0,0,0,0.5);
  }
  
  .dropping-texts > div:nth-child(1) {
    animation: roll 5s linear infinite 0s;
  }
  .dropping-texts > div:nth-child(2) {
    animation: roll 5s linear infinite 2s;
  }
  .dropping-texts > div:nth-child(3) {
    animation: roll 5s linear infinite 3s;
  }
  .dropping-texts > div:nth-child(4) {
    animation: roll2 5s linear infinite 5s;
  }
  
  @keyframes roll {
    0% {
      font-size:0px;
      opacity:0;
      margin-left:-30px;
      margin-top:0px;
      transform: rotate(-25deg);
    }
    3% {
      opacity:1;
      transform: rotate(0deg);
    }
    5% {
      font-size:inherit;
      opacity:1;
      margin-left:0px;
      margin-top:0px;
    }
    20% {
      font-size:inherit;
      opacity:1;
      margin-left:0px;
      margin-top:0px;
      transform: rotate(0deg);
    }
    27% {
      font-size:0px;
      opacity:0.5;
      margin-left:20px;
      margin-top:100px;
    }
    100% {
      font-size:0px;
      opacity:0;
      margin-left:-30px;
      margin-top:0px;
      transform: rotate(15deg);
    }
  }
  
  @keyframes roll2 {
    0% {
      font-size:0px;
      opacity:0;
      margin-left:-30px;
      margin-top:0px;
      transform: rotate(-25deg);
    }
    3% {
      opacity:1;
      transform: rotate(0deg);
    }
    5% {
      font-size:inherit;
      opacity:1;
      margin-left:0px;
      margin-top:0px;
    }
    30% {
      font-size:inherit;
      opacity:1;
      margin-left:0px;
      margin-top:0px;
      transform: rotate(0deg);
    }
    37% {
      font-size:1500px;
      opacity:0;
      margin-left:-1000px;
      margin-top:-800px;
    }
    100% {
      font-size:0px;
      opacity:0;
      margin-left:-30px;
      margin-top:0px;
      transform: rotate(15deg);
    }
  }
  
  @keyframes bg {
    0% {background: #ff0075;}
    3% {background: #0094ff;}
    20% {background: #0094ff;}
    23% {background: #b200ff;}
    40% {background: #b200ff;}
    43% {background: #8BC34A;}
    60% {background: #8BC34A;}
    63% {background: #F44336;}
    80% {background: #F44336;}
    83% {background: #F44336;}
    100% {background: #F44336;}
  }